@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #000;
}

.container .head{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;;
    z-index: 100000000;
}

.container .head img{
    width: 13%;
}

.container .head select{
    color: rgb(188, 183, 183);
    text-decoration: none;
    background-color: transparent;
    padding: 8px 18px;
    border-radius: 4px;
    margin-left: auto;
}

.container .head a{
    color: #fff;
    text-decoration: none;
    background-color: rgb(165, 9, 9);
    padding: 8px 18px;
    border-radius: 5px;
    margin-left: 10px;
}

/* Banner-1 */
.banner{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #000, transparent);
}

.banner::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #000, transparent);
}

.banner .fit{
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner .box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.banner .box .heading{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .box .heading h2{
    font-size: 3.125rem;
    color: #fff;
    letter-spacing: 2px;
    width: 80%;
}

.banner .box .heading h5{
    font-size: 1.625rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem 0;
}

.banner .box .heading p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .box .search input{
    font-size: 22px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    padding: 10px;
    min-width: 450px;
    height: 60px;
    align-items: center;
}

.banner .box .search a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    background:#e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    font-size: 1.625rem;
    line-height: 60px;
    min-width: 250px;
    padding: 0 30px;
} 

/* part-1-styles */
.part1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid rgb(35, 34, 34);
    margin-top: 55%;
}

.part1 .talk{
    width: 40%;
    z-index: 100000;
}

.part1 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part1 .talk p{
    font-size: 1.7rem;
    color: #fff;
}

.part1 .img{
    width: 45%;
    z-index: 100000;
}

.part1 .img img{
    width: 100%;
}

/* part-2-styles */
.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid rgb(35, 34, 34);
    /* margin-top: 55%; */
}

.part2 .talk{
    width: 40%;
    z-index: 100000;
}

.part2 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part2 .talk p{
    font-size: 1.7rem;
    color: #fff;
}

.part2 .img{
    width: 45%;
    z-index: 100000;
}

.part2 .img img{
    width: 100%;
}

/* part-3-styles */
.part3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid rgb(35, 34, 34);
    /* margin-top: 55%; */
}

.part3 .talk{
    width: 40%;
    z-index: 100000;
}

.part3 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part3 .talk p{
    font-size: 1.7rem;
    color: #fff;
}

.part3 .img{
    width: 45%;
    z-index: 100000;
}

.part3 .img video{
    width: 100%;
}

/* part-4-styles */
.part4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid rgb(35, 34, 34);
    /* margin-top: 55%; */
}

.part4 .talk{
    width: 40%;
    z-index: 100000;
}

.part4 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part4 .talk p{
    font-size: 1.7rem;
    color: #fff;
}

.part4 .img{
    width: 45%;
    z-index: 100000;
}

.part4 .img img{
    width: 100%;
}

/* F & Q */
.list{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.list h1{
    color: #fff;
    font-size: 3rem;
    padding: 2rem 0 2rem 0;
}

details > summary{
    background-color: #303030;
    padding: 20px 30px;
    margin-top:5px;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    cursor: pointer;
    width: 800px;
}

details > p{
    background-color: #303030;
    line-height: 35px;
    width: 800px;
    margin: 0;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 20px 30px;
}

/* Banner-2 */
.banner2{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 0.6rem solid #111; */
} 

.banner2 .box{
    margin-top: 1px;
    position: absolute;
}

.banner2 .box .heading{
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner2 .box .heading p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner2 .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner2 .box .search input{
    font-size: 22px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    padding: 10px;
    min-width: 500px;
    height: 60px;
    align-items: center;
}

.banner2 .box .search a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    background:#e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    font-size: 1.625rem;
    line-height: 60px;
    min-width: 250px;
    padding: 0 30px;
} 

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
    padding: 4rem 0;
    border-top: 0.6rem solid rgb(35, 34, 34);
}

.footer .call{
    margin-left: 40px;
}

.footer .one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    margin: auto; 
}

.footer .one li{
    padding: 7px 0;
    list-style: none;
}

.footer .one li a{
    color: #ccc;
    text-decoration: none;
}

.footer .one li a:hover{
    border-bottom: 1px solid #ccc; 
}




































